[Desktop Entry]
Encoding=UTF-8
Name=AnypointStudio
Comment=AnypointStudio 5.4.3 from Mulesoft
Exec=/home/vagrant/Tools/AnpointStudio/AnypointStudio
Icon=/home/vagrant/Tools/AnypointStudio/icon.xpm
Categories=Application;Development;Java;IDE
Version=1.0
Type=Application
Terminal=0
